version: '3.9'

services:
  backend:
    container_name: node_backend_app
    image: anilnagarro24/backend-app:1.0.0
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      MONGO_URI: mongodb://admin:admin123@mongo:27017/mydb?authSource=admin
    depends_on:
      - mongo

  frontend:
    container_name: frontend_app
    image: anilnagarro24/frontend:1.0.0
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - backend

  mongo:
    container_name: mongo_db
    image: mongo:6.0
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
      MONGO_INITDB_DATABASE: mydb
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
